* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("imagens/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

.cabecalho {
  padding: 2% 0% 0% 8%;
}

.cabecalho_menu {
  display: flex;
  gap: 20px;
}

.cabecalho_menu_link {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 600;
  color: antiquewhite;
  text-decoration: none;
}

.quant-meses {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

canvas {
  width: 100% !important;
  max-width: 600px;
  height: 300px !important;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #388e3c
}

h2 {
  font-size: 2rem;
  margin-top: 3rem;
  color: #444;
}

h3 {
  margin-top: 1.5rem;
  color: #666;
}

input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100px;
  margin: 0.3rem;
  cursor: pointer;
}

button {
  background-color: #388e3c;
  color: white;
  border: none;
  padding: 0.7rem 1.2 rem;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2e7d32;
  cursor: pointer;
}

.grafico-container {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #e8f5e9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.rodape {
  background-color: rgb(225, 236, 233);
  text-align: center;
  border-radius: 10px;
  padding: 20.5px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 400;
  justify-content: space-between;
}

.rodapes {
  background-color: #2e7d32;
  color: #e8f5e9;
  text-align: center;
  border-radius: 2px;
  padding: 18.5px;
  font-size: 1rem;
  text-decoration: none;
  justify-content: space-between;
  font-weight: 400;
}

.corpo_about {
  background-image: url(imagens/fundo_about.png);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

.verso_about {
  font-size: 1.5 rem;
  text-align: center;
  color: #828782
}
.verso2_about{
  font-size: 20px;
  text-align: center;
  color: #222;
}
.areas_interesse{
  display: flex;
  gap: 20px;
}
.cabecalho_about{
  padding: 2% 0% 0% 8%;
  margin-top: auto;
  margin-left: 0ch;
  margin-right: auto;
}
.engenharia{
text-decoration: none;
}
